@charset "utf-8";


body {
  margin: 0;
}
header h1 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
}

header .circle {
  background-color: red;
  color: white;
  font-family: 'Norican', cursive;
  font-size: 2.4rem;
  width: 85px;height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 22px;
}
header .cooking {
  margin: 0;
  font-family: 'Great Vibes', cursive;
  font-size: 2.2rem;
}

header {
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: white;
  background-color: blueviolet;
  margin: 0;
  
}
menu {
  margin: 0;
  list-style: none;
  background-color: gold;
  display: flex;
  justify-content: flex-start;
  font-size:1.4rem ;
  font-family: '나눔고딕','맑은 고딕',sans-serif;
  padding: 5px;
  padding-left: 0;
}
menu li {
  width: 10%;
  text-align: center;
}
menu .kt {
  margin-left: 15px;
}
menu li a {
  text-decoration: none;
  color: blueviolet;
  
}

h3 {
  color: red;
}
section figure {
  border: 1px red solid;
  width: 438px;
  margin: 30px;
  margin-right: 0;
  background-color: white;
}
section img {
  width: 430px;
  height: 280px;
  margin: 4px;
}
section .wrapper {
  margin: 10px 0 0 30px;
  
}
section .wrapper h3 {
  margin-top: 35px;
}
section .wrapper p {
  margin-top: 35px;
  word-spacing: 7px;
  
}
section .container {
  margin: 175px 0 0 30px;
  
}
section .container h3 {
  margin-top: 35px;
}
section .container p {
  margin-top: 25px;
  word-spacing: 7px;
  line-height: 35px;
}
section {
  background-color: lightgrey;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 80vh;
  flex-wrap: wrap;
  width: 67%;
  font-size: 1.3rem;
  font-family: '나눔고딕','맑은 고딕',sans-serif;
}
section figcaption {
  text-align: right;
  font-style: italic;
  padding-right: 4px;
  font-size: 1rem;
}
.bigbox {
  display: flex;
  
}
aside{
  border: 1px red solid;
  width: 33%;
  height: 80vh;
  border-top: none;
  border-bottom: none;
  font-family: '나눔고딕','맑은 고딕',sans-serif;
}
aside h2 {
  color: red;
  font-size: 2rem;
  padding: 20px;
}

.box {
  border: 1px red solid;
  border-left: none;
  border-top: none;
  border-collapse: collapse;
  margin: 0;
  padding:22px 20px 22px;
 
  font-size: 1.3rem;
}

.box5 {
  padding: 0 20px 0;
  font-size: 1.3rem;
}
footer {
  
  background-color: blueviolet;
  padding: 9px 16px 9px;
  font-family: '나눔고딕','맑은 고딕',sans-serif;
}