@charset "utf-8";

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');


body {
  line-height: 1.6;
}
p {
  color: #666666;
}
header {

  background: url(./images/main_visual2.jpg) no-repeat #000 
  ;
  background-size: cover;
  height: 500px;
  position: relative;
  text-align: center;

}
header .bigbox {
  background-color: rgba(0, 0, 0, 0.4);
  height: 500px;
}
h1,h2 {
  margin: 0;
}
header .gnb {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 15px; right: 10px;
  
}
header .gnb img {
  width: 22px; height: 22px;
}
header h1 img{
  position: absolute;
  top: 15px; left: 5px;
  width: 130px; height: 25px;
  background-color: transparent;
  
}
header .empower  {
  display: block;
  margin: 10px auto;
  width: 95%;
  color: #FFF;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.1;
  position: relative;
  top: 33%;
 
}
header p {
  line-height: 1.2;
 width: 80%;
 display: block;
 margin: auto;
 color: #EDEDED;
 font-weight: 500;
 font-size: 18px;
 position: relative;
 top: 34%;
 margin-bottom: 15px;
}